@import '../../../styles/colors';

.highlight {
    background: #E6ECF0;
    flex-direction: column;

    .highlight__text {
        background: $color_principal;
        padding: 50px 100px;
        color: #ffffff;
    }

    .highlight__square {
        background: #ffffff;
        padding: 50px;
        border-radius: 15px;
        box-shadow: 0px 25px 60px rgba(0, 0, 0, 0.2);

        p {
            margin: 30px 0;
        }

        .button--color {
            margin: 15px 30px 15px 0;
            text-transform: capitalize;
            padding: 15px;
            background: $color_principal;
            color: #ffffff;
        }
        .button--color:hover {
            background: #000000;
            color: #ffffff;
        }
    }
}


/* DESKTOP VERSION */
@media only screen and (min-width: 1024px) { 
    .highlight { 
        flex-direction: row;

        .highlight__text {
            width: 65%;
            margin-bottom: 50px;
        }

        .highlight__square {
            width: 40%;
            margin-right: 5%;
            margin-top: -50px;
            margin-bottom: 50px;
            margin-left: -20px;
        }

    }
}