@import '../../../styles/colors';

.experience {
    padding: 80px 30px 80px 30px;
    background: #f5f4f4;
    flex-direction: column;

    .experience__bars {
        margin-bottom: 50px;
        h5 {
            color: $color_principal;
          }
    
        .container { 
            background-color: rgb(192, 192, 192); 
            width: 80%; 
            border-radius: 15px; 
        } 
      
        .skill { 
            background-color: $color_principal;
            color: white; 
            padding: 2px 5%; 
            text-align: right; 
            font-size: 10px; 
            border-radius: 15px 0px 0px 15px;
            width: 50%;
        } 
    }

    .experience__boxes {
        flex-direction: column;

        .box__detail {
            border-radius: 15px;
            padding: 20px 20px 20px 0;
            transition: all 600ms;
           
            .detail__circle {
                padding: 0 20px;
            
                .detail--out {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin: auto;
                    background: $color_principal;
    
                    .detail--in {
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        margin: auto;
                        background: #ffffff;
                    }
                }
            }
    
            .year {
                color: $color_principal;
            }
    
            .position{
                font-weight: 800;
                margin: 5px 0;
            }
        }
    
        .box__detail:hover {
            box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
            transform: translateY(5px);
    
        }
    }

}


/* DESKTOP VERSION */
@media only screen and (min-width: 1024px) { 
    .experience {
        flex-direction: row;

        .experience__bars {
            width: 50%;
        }

        .experience__boxes {
            width: 50%;
        }
    }
}